
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    width: 100%;
    background-color: red;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    width: 100%;
    background-color: blue;
  }
}
